// colores que estaremos utilizando a lo largo del proyecto

// rgb(117, 31, 255) para transparencias EN BOTONES Y DEMAS

$button-color: #751fff;
$button-color-hover:black;

//promociones tendran un color 
$promociones-color:#d72d2d;//para poder dar transparencias   rgb(215, 45, 45) 


//para otros colores y color de fondo haremos uso del siguiente color 
$fondo-color:#EDECEC;

